--find-links=https://girder.github.io/large_image_wheels GDAL
geopandas~=0.6.2
keplergl

streamlit~=1.7.0
streamlit-folium
streamlit_observable

# leafmap
# geemap
git+https://github.com/giswqs/leafmap
git+https://github.com/giswqs/geemap

pandas~=1.1.5
folium~=0.12.1.post1
pillow~=8.4.0
gdal

branca~=0.4.2
descartes~=1.1.0
pyproj~=3.0.1
plotly~=5.6.0
requests~=2.27.1